*{
    margin:0;
    padding:0;
    color: white;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: rgb(56, 18, 109);
    width:100%;
    height:100vh;
}

.list-items a{
    text-decoration:none;
    color:black;
    font-weight: 700;
}

nav{
    background-color:#52D3D8;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin:auto;
    height: 60px;

}

nav li{
    display:inline-block;
    padding:10px 30px ;
    font-size:22px;
}

.container li a:hover{
    color:wheat;
}

.margin{
    margin-right: 30px;
}

h1{
    color:wheat;
    font-size:60px;
    padding-bottom: 12px;
    font-family: 'Pacifico', cursive;
    font-weight:200;
}

.social-links{
    margin-left:5%;
    margin-top:-18%;
    display:flex;
    flex-direction: column;
    gap:30px;
    width:20px;
}

.images img{
    height:450px;
    width:650px;
    margin-left:20px;
    margin-top:-290px;
}

.text-box{
    margin-left:50%;
    margin-top:14%;
}

.text-box a:link{
    background-color: #3887BE;
    color:white;
    padding: 10px 50px;
    margin:20px 55px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius:50px;
    border: 2px solid black;
}

.text-box a:hover{
    background-color:#38419D ;
    color: wheat;
    font-weight:900;
    padding: 10px 50px;
    margin:20px 55px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius:50px;
    border: 2px solid white;
}


.text-box a{
    color: white;
    background-color: #3887BE;
    font-weight:900;
    font-size:15px;
}

.text-box p{
    font-weight:40;
    color:white;
}